body{
  background:grey;
}

div{
  height:520px;
}

p{
  font-size:20px;
  color:white;
}

.two, .three, .four, .five, .six {
  display:none;
}

@media (max-width:960px) {
  div{
    background:teal;
  }
  
  .two{
  display:block
  }
}

@media (max-width:860px) {
  div{
   background:brown;
  }
  .three{
  display:block
  }
}

@media (max-width:760px) {
  div{
   background:darkorange;
  }
  .four{
  display:block
  }
}

@media (max-width:660px) {
  div{
   background:limegreen;
  }
  .five{
  display:block
  }
}

@media (max-width:560px) {
  div{
   background:mediumvioletred;
  }
  .six{
  display:block
  }
}

@media (max-width:460px) {
  div{
   background:coral;
  }
}
